{% extends 'base.html' %}
{% load date_time %}
{% load plural %}
{% load tz %}

{% block title %}Polls List{% endblock title %}

{% block content %}
    {% if latest_questions %}
    <div class="list-group custom-list">
        {% for question in latest_questions %}
            <a href="{% url 'polls:detail' question.id %}" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <div class="fw-bold title">{{ question.question_text }}</div>
                    <small class="badge custom-bg rounded-pill custom-badge">{{ question.votes_count }} vote{{ question.votes_count|plural }}</small>
                </div>
                <p class="mb-1 description">{{ question.published_date|timezone:"Asia/Tehran"|change_format }}</p>
            </a>
        {% endfor %}
    </div>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock content %}